version: '3.8'
services:
  app:
    build: .
    volumes:
      - .:/app
  
  jupyter:
    build: .
    command: jupyter notebook --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    working_dir: /app
